@import "tailwindcss";

@theme {
  /* Colors for GiQ */
  --color-giq-main: #48c0b2;
  --color-giq-dark: #2a8f85;
  --color-giq-light: #e0f7fa;
  --color-giq-purple: #f7a6dc;
  --color-giq-lavender: #d6b3e8;
  --color-giq-yellow: #fde047;
  --color-giq-deep: #6b21a8;
  --color-giq-mint: #ccfbf1;
  --color-giq-blue: #60a5fa;
  --color-giq-text: #1e293b;

  --animate-marquee: marquee 30s linear infinite;

  --animate-pulse-slow: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --animate-spin-slow: spin-slow 8s linear infinite;

  --animate-spin-slow: spin-slow 3s linear infinite;
  --animate-spin-reverse: spin-reverse 3s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 1;
      filter: drop-shadow(0 0 0px rgba(79, 209, 197, 0));
    }
    50% {
      opacity: 0.9;
      filter: drop-shadow(0 0 15px rgba(79, 209, 197, 0.4));
    }
  }

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spin-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  cursor: none;
}

a,
button,
[role="button"],
.cursor-pointer,
input,
select,
textarea {
  cursor: none !important;
}
